In [48]:
fruits = ["apple","manggo","cherry","pineapple","apple"] #use for loop to find a given fruit name in the list 
index=0 #start from 0
for item in fruits :
 print (item,index)
 index +=1 #for the number to listed is 0-4 not repeated 0000, must space b4 index


# The 'item'in line 2 and 3 can be change to 'fruit' or any word , it's not important,juz rmb to synchronised it in line 2 ,3

apple 0
manggo 1
cherry 2
pineapple 3
apple 4

In [6]:
count =0
while count <5 :
    print (count)
    count +=1 #or count= count+1

0
1
2
3
4

In [56]:
count=1
while(count<=30):
    if count % 2 ==0: #means divide by 2
     print("this is even number: ",count)
    count=count+1

this is even number:  2
this is even number:  4
this is even number:  6
this is even number:  8
this is even number:  10
this is even number:  12
this is even number:  14
this is even number:  16
this is even number:  18
this is even number:  20
this is even number:  22
this is even number:  24
this is even number:  26
this is even number:  28
this is even number:  30

In [ ]:
count =0
while count <5 :
    print (count)
    count = count +1

In [44]:
for num in range (2,30):
    if num ==10:
        break #stop listing in 5
    print (num)

2
3
4
5
6
7
8
9

In [57]:
for num in range (1,10):
    if num ==2:
        continue #skip number 2
    print (num)

1
3
4
5
6
7
8
9

In [58]:
for i in range (3):
 for j in range (3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [69]:
import math
for i in range (1,20):
    for j in range (1,6):
         print(i,"x",j,"=",i*j)# take note to the spacing b4 print , different spacing cause different effect!
    print("--------------")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
--------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
--------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
--------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
--------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
--------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
--------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
--------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
--------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
--------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
--------------
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
--------------
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
--------------
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
--------------
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
--------------
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
--------------
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
--------------
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
--------------
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
--------------
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
--------------

In [46]:
for item in range (101):
 print (item)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
while (item)

In [29]:
index =1
for item in fruits:
    print("The fruit name is " + item +" at index", index )
    index=index+1

The fruit name is appleat index 1
The fruit name is manggoat index 2
The fruit name is cherryat index 3

In [37]:
index =1
for item in fruits:
    if 'apple' in item :
        print ('The apple is in the list at index', index)
    print("The fruit name is " + item +" at index", index )
    index=index+1

The apple is in the list at index 1
The fruit name is apple at index 1
The fruit name is manggo at index 2
The fruit name is cherry at index 3

In [43]:
index =1
for item in fruits:
    if 'apple' in item :
        print ('The apple is in the list at index', index)
        index=index+1

The apple is in the list at index 1